@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


/* Sidebar section ================================================================================*/

.sidebar {
    background: #1b1a1b;
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
    width: 300px;
    z-index: 996;
    transition: all 0.3s;
    padding: 20px;
    overflow-y: auto;
    transition: 0.6s ease;
    transition-property: left;
}

.sidebar h1 {
        text-align: center;
        font-size: 15px;
        margin-left: 5px;
        margin-right: 5px;
        padding-bottom: 13px;
        font-family: sans-serif;
        color: #fff;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.menu {
    width: 100%;
    margin-top: 30px;
}

.menu .item {
    position: relative;
    cursor: pointer;
}

.menu .item a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    display: block;
    padding: 5px 30px;

}

.item i {
    margin-right: 15px;
}

.item a .dropdown {
    position: absolute;
    right: 0;
    /* margin: ; */
    transition: .3s ease;
}

.item .sub-menu {
    background: #262627;
    display: none;
}

.item .sub-menu a {
    font-size: 13px;
    border: 1px solid blue;
}

/* Sidebar section close============================================================================== */


/* Header Section  ================================================================================*/

header {
    background: #33363a;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

header .header-nav {
    color: #fff;
}

.header {
    transition: all 0.5s;
    z-index: 997;
    height: 60px;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
    background-color: #1b1a1b;
    padding-left: 20px;
    /* Toggle Sidebar Button */
    /* Search Bar */
  }
  
  .header .toggle-sidebar-btn {
    font-size: 32px;
    padding-left: 10px;
    cursor: pointer;
    color: #fff;
  }

/* Center the items in the navigation bar */
.header-nav a {
    display: flex;
    align-items: center; /* Vertically center the items */
    justify-content: center; /* Horizontally center the items */
    list-style: none; /* Remove bullet points */
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* Style for each list item */
.header-nav ul li {
    font-weight: 600;
    margin: 0 10px; /* Add spacing between the items */
    color: #fff; /* Text color */
    cursor: pointer; /* Change cursor to pointer on hover */
    font-size: 16px; /* Font size */
    font-family: sans-serif; /* Font family */
}

/* Style for list item hover */
/* .header-nav ul li:hover {
    text-decoration: underline;
} */


/* Header Section close================================================================================*/


.top-bar {
    display: flex; 
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    background: rgb(213, 213, 213);
    width: 100%;
    height: 75px;
    position: fixed;
    top: 0;
    overflow-y: auto;
    transition: 0.6s ease;
    transition-property: left;
}


.profile-photo img {
    cursor: pointer;
    margin-left: 400px;
    width: 50px;
    height: 50px; 
    background-image: url('pics\default_pic.jpg');
    border-radius: 50%; 
}


/*TopBar Links*/
nav{
	position: relative;
  margin-left: 280px;
	text-align: center;
	width: 220px;
	border-radius: 8px;
	font-size: 0;
}
nav a{
	font-size: 18px;
	text-transform:capitalize;
	color: white;
	text-decoration: none;
	line-height: 50px;
	position: relative;
	z-index: 1;
	display: inline-block;
	text-align: center;
}
nav .animation{
	position: absolute;
	height: 80%;
	/* height: 5px; */
	bottom: 15px;
	/* bottom: 0; */
	z-index: 0;
	background: #ff0000;
	border-radius: 8px;
	transition: all .5s ease 0s;
}
nav a:nth-child(1){
	width: 80px;
}
nav a:nth-child(1):hover~.animation{
	width: 80px;
	left: 30px;
}
nav a:nth-child(2){
	width: 100px;
}
nav a:nth-child(2):hover~.animation{
	width: 100px;
	left: 110px;
}



/* Responisve section */

@media (max-width: 1199px) {
    .sidebar {
      left: -300px;
    }
    .logos {
        margin-left: 50px;
    }
  }

  .sidebar::-webkit-scrollbar-thumb {
    background-color: #aab7cf;
  }

  @media (min-width: 1200px) {
    
    .toggle-sidebar-btn {
        display: none;
    }

    #main,
    #footer {
      margin-left: 300px;
    }
  }

  @media (max-width: 1199px) {
    .toggle-sidebar .sidebar {
      left: 0;
    }
  }
  
  @media (min-width: 1200px) {
  
    .toggle-sidebar #main,
    .toggle-sidebar #footer {
      margin-left: 0;
    }
  
    .toggle-sidebar .sidebar {
      left: -300px;
    }
  }

  @media (max-width: 800px) {
    .logos {
        display: none;
    }
  }