/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html, body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

body {
    background-image: url('/pics/G1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

body::-webkit-scrollbar {
    display: none;
}

/* Main picture section */
.main-pic {
    position: relative;
    max-width: 100vw;
    overflow-x: hidden;
    height: 100vh; /* Ensure the section takes full height of viewport */
}

.logo {
    position: absolute;
    top: 35%;
    left: 62%;
    transform: translate(-50%, -50%);
    max-width: 100%; /* Ensure logo doesn't exceed container width */
}

/* Bottom bar */
.Bottom-bar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    background: rgb(0, 0, 0);
    height: 45px;
    overflow: hidden;
    transition: 0.6s ease;
    transition-property: left;
    padding: 0;
    box-sizing: border-box;
}

.Bottom-bar .text p {
    margin: 0;
    padding: 10px;
    font-size: 25px;
    color: white;
    white-space: nowrap;
}

/* Media Queries for Responsiveness */

@media screen and (max-width: 600px) {
    .logo {
        max-width: 75%; /* Adjust the logo size for smaller screens */
        top: 15%; /* Move logo up by 10% of the viewport height */
        left: auto; /* Reset left positioning */
        right: 20px; /* Align logo to the right by 20px */
        transform: none; /* Reset transform property */
    }
    .Bottom-bar .text p {
        font-size: 12px;
    }
}

/* Medium Devices (tablets, 600px to 768px) */
@media screen and (min-width: 601px) and (max-width: 768px) {
    .logo {
        max-width: 70%; /* Adjust the logo size for medium screens */
    }
    .Bottom-bar .text p {
        font-size: 13px;
    }
}

/* Large Devices (desktops, 768px and up) */
@media screen and (min-width: 769px) {
    .logo {
        max-width: 60%; /* Adjust the logo size for large screens */
    }
    .Bottom-bar .text p {
        font-size: 15px;
    }
}