/* General styles for the table and other elements */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');


.container_main{
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;

}

#search-icon {
    margin-left: 8px;
    margin-bottom: 8px;
    padding: 6px;
    width: 45px;
    height: 45px;
    color: #182431;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #007BFF;
    border-radius: 10px;
    background-color: #f0f8ff;
    transition: background-color 0.3s, color 0.3s;
}

#search-icon:hover {
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}
@media screen and (min-width: 1200px) {
    .container_main{
     width: calc(100% - 300px);  /* to remove the extra space allocated for the side bar */
     margin: 100px auto auto 300px; 
     overflow: hidden;
     max-width: none;
    }
 }
 @media screen and (max-width: 1199px) {

    .container_main{
        width: 100%;
        justify-content: center;
        margin-top: 5rem
        ;
  
    }

 }
/* Custom styles for better mobile experience */
/* @media (max-width: 768px) {
    .body {
        margin: 0;
    }

    .topic {
        text-align: center;
    }

    .add-new {
        text-align: center;
    }

    .form-row {
        flex-direction: column;
    }

    .form-group {
        width: 100%;
    }
} */

