.main_container{
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;

}
/* form */

.form-container {
   
    padding: 20px;
    
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.form-group {
    flex: 1;
    min-width: 200px;
    margin-right: 20px;
}

.form-group:last-child {
    margin-right: 0;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="text"]:focus, select:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.view-link {
    width: 90px;
    color: #182431;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border: 1px solid #007BFF;
    border-radius: 88px;
    background-color: #f0f8ff;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
}

.view-link:hover {
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

.delete-link {
    width: 90px;
    color: #182431;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border: 1px solid #e4282e;
    border-radius: 88px;
    background-color: #fff1f4;
    transition: background-color 0.3s, color 0.3s;
}

.delete-link:hover {
    background-color: #ee0c0c;
    color: white;
    cursor: pointer;
}

.batch {
    width: 150px;
    margin-bottom: 20px;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    margin-left: 150px;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal::-webkit-scrollbar {
    Display: none
}

.table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
    font-family: 'Arial', sans-serif;
}
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #f9f9f9;
    box-shadow: 0 2px 3px rgba(0,0,0,0.1);
}
th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    /* background-color: #0d6efd; */
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}

#search-icon {
    margin-left: 5px;
    padding: 6px;
    width: 45px;
    height: 45px;
    color: #182431;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #007BFF;
    border-radius: 10px;
    background-color: #f0f8ff;
    transition: background-color 0.3s, color 0.3s;
}
.search-bar {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#search-icon:hover {
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

@media screen and (min-width: 1200px) {
    .main_container{
     width: calc(100% - 300px);  /* to remove the extra space allocated for the side bar */
     margin: 100px auto auto 300px; 
     overflow: hidden;
     max-width: none;
    }
 }
 @media screen and (max-width: 1199px) {

    .main_container{
        width: 100%;
       
        justify-content: center;
        margin-top: 5rem
        ;
        
    }
    .modal {
        margin-left: 0px;
    }

    th{
        display: none;
    }
    td{
        
        display: grid;
        gap: 0.5rem;
        grid-template-columns: 15ch auto;
        padding: 0.75rem 1rem;
    }
    td:first-child{
        padding-top: 2rem;

    }
    td:last-child{
        padding-bottom: 2rem;
        
    }
    td::before{
        content:attr(data-cell) ": ";
        font-weight: 700;
        text-transform: capitalize;
    }
 }
 @media screen and (max-width: 650px){
 
  .modal {
    margin-left: 0px;
  }
  .form-row {
    flex-direction: column;
}

.form-group {
    margin-right: 0;
    margin-bottom: 15px;
}

.form-group:last-child {
    margin-bottom: 0;
}
.search-bar {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
}