/* Ensure there is no CSS conflict by resetting common properties */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    color: black;
    margin-left: 300px;
    text-decoration: none;
}

.container {
    width: 100px;
    height: 100px;
    margin-left: 400px;
    margin-top: 100px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 0px solid #dddddd;
    text-align: left;
    padding: 15px;
    white-space: nowrap;
}
