*{
    padding: 0%;
    margin: 0%;
}
.main_container{
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;  
}
.view-link {
    width: auto;
    color: #182431;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border: 1px solid #007BFF;
    border-radius: 88px;
    background-color: #f0f8ff;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
}

.view-link:hover {
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

/* table CSS */
.table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
    font-family: 'Arial', sans-serif;
}
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #f9f9f9;
    box-shadow: 0 2px 3px rgba(0,0,0,0.1);
}
th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    /* background-color: #0d6efd; */
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}

/* form */

.form-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.form-row {
    display: flex;
    gap: 20px;
    width: 100%;
}
.form-group {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 20px;
    
}
label {
    margin-bottom: 5px;
    font-weight: bold;
}
select, input[type="text"], input[type="date"], input[type="time"], input[type="number"], input[type="password"], input[type="email"] {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
.half-width {
    flex: 0 0 50%;
}
.half-width-input {
    width: 100%;
}
input[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
input[type="submit"]:hover {
    background-color: #45a049;
}


#search-icon {
    margin-left: 8px;
    margin-bottom: 8px;
    padding: 6px;
    width: 45px;
    height: 45px;
    color: #182431;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #007BFF;
    border-radius: 10px;
    background-color: #f0f8ff;
    transition: background-color 0.3s, color 0.3s;
}

#search-icon:hover {
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

/* Modal Styles */
/* Modal (popup) styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    margin-left: 100px;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
}
.modal-header {
    color: white;
    background-color: #0d6efd;
}
.close {
    color: #aaa;
    display: flex;
    justify-content: right;
    /* float: right; */
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.checkbox-label {
    display: inline-block;
    margin-top: -22px;
    margin-left: 5px;
}


.delete-link {
    width: 90px;
    color: #182431;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border: 1px solid #e4282e;
    border-radius: 88px;
    background-color: #fff1f4;
    transition: background-color 0.3s, color 0.3s;
}

.delete-link:hover {
    background-color: #ee0c0c;
    color: white;
    cursor: pointer;
}

.modal::-webkit-scrollbar {
    display: none;
}
/* resposive */
@media screen and (min-width: 1200px) {
    .main_container{
     width: calc(100% - 300px);  /* to remove the extra space allocated for the side bar */
     margin: 100px auto auto 300px; 
     overflow: hidden;
     max-width: none;
    }
 }
 @media screen and (max-width: 1199px) {

    .main_container{
        width: 100%;
        justify-content: center;
        margin-top: 5rem
        ;
  
    }
    th{
        display: none;
    }
    td{
        
        display: grid;
        gap: 0.5rem;
        grid-template-columns: 15ch auto;
        padding: 0.75rem 1rem;
    }
    td:first-child{
        padding-top: 2rem;

    }
    td:last-child{
        padding-bottom: 2rem;
        
    }
    td::before{
        content:attr(data-cell) ": ";
        font-weight: 700;
        text-transform: capitalize;
    }
    .modal{
        margin-left: 0%;
    }

 }
 @media screen and (max-width: 600px) 
{
    .modal-content{
        margin-top: 50%;
    }
    .form-row, .search_container{
        display: flex;
        flex-direction: column;
        min-width: 350px;
    }
}