body {
    margin-left: 350px;
}

table {
    width: 95%;
    border-collapse: collapse;
    margin-top: 80px;
}

th, td {
    border: 0px solid #dddddd;
    text-align: left;
    padding: 15px;
}

.view-link {
    width: 90px;
    color: #182431;
    text-decoration: none; /* Remove underline */
    font-weight: bold;
    padding: 5px 10px;
    border: 1px solid #007BFF;
    border-radius: 88px;
    background-color: #f0f8ff;
    transition: background-color 0.3s, color 0.3s;
}

.view-link:hover {
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 1199px) {
    body {
        margin-left: 10px;
        margin-right: 10px;
    }

}

@media screen and (max-width: 700px) {
    .container {
        width: auto;
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .table-container-2 {
        width: 100%;
    }

    .table-container-2 .table td, th {
        font-size: 15px;
    }

    .chart-container {
        margin-bottom: 10px;
    }

    .table-container-2 th {
        display: none;
    }

    .table-container-2 td {
        display: block;
        padding: 0.5rem 1rem;
        position: relative;
        padding-left: 50%;
        text-align: left;
    }

    .table-container-2 td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 45%;
        padding-left: 10px;
        font-weight: bold;
        white-space: nowrap;
    }

}