h4 {
    margin-top: 100px;
    margin-left: 270px;
}

.vh-100 {
    margin-left: 250px;
}

.alert-container {
    width: 50%; /* Adjust width as needed */
    font-size: 30px;
    background-color: #dff0d8; /* Adjust background color */
    border: 1px solid #c3e6cb; /* Adjust border color */
    border-radius: 5px; /* Adjust border radius */
    padding: 15px; /* Adjust padding */
}
