/* General */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    gap: 2rem;
    margin-left: 300px;
    margin-top: 5rem;
}

/* table styles */
table {
    background: #ffffff;
    width: 100%;
    border-collapse: collapse;
    border: #cacace;
   
}
.table{
    margin: 0 32px;
}
th, td {
    border: 0px solid #dddddd;
    text-align: left;
    padding: 15px;
    white-space: nowrap;
}

/* style-courseModule.css */

.view-link {
    color: #007BFF; 
    text-decoration: none; /* Remove underline */
    font-weight: bold; 
    padding: 5px 10px; 
    border: 1px solid #007BFF; 
    border-radius: 5px; 
    background-color: #f0f8ff; 
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
}

.view-link:hover {
    background-color: #007BFF; 
    color: white; 
    cursor: pointer; 
}

@media screen and (min-width: 1200px) {
    .container{
     width: calc(100% - 300px);  /* to remove the extra space allocated for the side bar */
     margin: 100px auto auto 300px; 
     overflow: hidden;
     max-width: none;
    }
}
@media screen and (max-width: 1199px) {
    .container{
        width: 100%;
        display: flex;
        margin-left: auto;
    }
    .table{
        width: 100%;
    }
 }
 

@media screen and (max-width: 600px) {
    .container{
        margin-top: 10vh;
        margin-left: auto;
        width: auto;
        display: flex;
        padding: 0 10px;
        align-items: center;
        justify-content: center;
    }
    .table{
        width: 100%;
    }
    
    
}
@media screen and (max-width: 514px){
    .table{
        width: auto;
    }
    .table td, th{
        font-size: 12px;
       
    }
}