* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.first {
    color: black;
    margin-left: 350px;
    margin-top: 100px;
    text-decoration: none;
}

.second {
    color: black;
    margin-left: 350px;
    margin-top: 100px;
    text-decoration: none;
}

.profile {
    width: 100px;
    height: 100px;
    margin-left: 75%;
    margin-top: 190px;
}

.flex-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-right: 50px;
}
.flex-container label {
    margin-right: 10px;
    min-width: 150px; /* Adjust this width as necessary */
}
.flex-container input {
    flex: 1; /* Takes the remaining space */
}

.table {
    width: 95%;
    border-collapse: collapse;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
}

th, td {
    border: 0px solid #dddddd;
    text-align: left;
    padding: 15px;
    white-space: nowrap;
}

/* style-courseModule.css */

.view-link {
    color: #007BFF; 
    text-decoration: none; /* Remove underline */
    font-weight: bold; 
    padding: 5px 10px; 
    border: 1px solid #007BFF; 
    border-radius: 5px; 
    background-color: #f0f8ff; 
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
}

.view-link:hover {
    background-color: #007BFF; 
    color: white; 
    cursor: pointer; 
}

@media (max-width: 1200px) {
    .first {
        margin-left: 10px;
        margin-right: 10px  ;
        margin-top: 100px;
    }

    .flex-container {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        margin-right: 10px;
    }
}
