* {
    margin: 0;
    padding: 0;
    
    
}
.main{
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
   

}
/* table style */
.table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
    font-family: 'Arial', sans-serif;
}
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #f9f9f9;
    box-shadow: 0 2px 3px rgba(0,0,0,0.1);
}
th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    /* background-color: #0d6efd; */
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
    .main{
     width: calc(100% - 300px);  /* to remove the extra space allocated for the side bar */
     margin: 100px auto auto 300px; 
    
     max-width: none;
    }
 }
 @media screen and (max-width: 1199px) {

    .main{
        width: 100%;
        justify-content: center;
        margin-top: 5rem
        ;
  th{
        display: none;
    }
    td{
        
        display: grid;
        gap: 0.5rem;
        grid-template-columns: 15ch auto;
        padding: 0.75rem 1rem;
    }
    td:first-child{
        padding-top: 2rem;

    }
    td:last-child{
        padding-bottom: 2rem;
        
    }
    td::before{
        content:attr(data-cell) ": ";
        font-weight: 700;
        text-transform: capitalize;
    }
    }

 }
