body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1000px;
  margin: 30px auto 0 auto; 
  padding: 30px;
  padding-left: 100px;
  border-radius: 8px;
  position: relative;
}

.container h1 {
  margin-top: 0;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 0.5rem;
}

input[type="text"],
select {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
}

button[type="submit"],
.back-button {
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1rem;
  border: 1px solid #007BFF;
  border-radius: 88px;
  background-color: #f0f8ff;
  transition: background-color 0.3s, color 0.3s; 
}

button[type="submit"]:hover,
.back-button:hover {
  background-color: #007BFF;
  color: white;
  cursor: pointer;
}

.button-container {
  display: flex;
  gap: 20px; 
  grid-column: span 2; 
}

.submit-button {
  flex: 1; 
}

.back-button {
  flex: 1; 
}

.message {
  display: none;
  margin-top: 1rem;
  padding: 1rem;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.assignments-table {
  margin-top: 50px;
}

.assignments-table h2 {
  margin-bottom: 20px;
}

.assignments-table table {
  width: 130%;
  border-collapse: collapse;
  border: #cacace;
  margin-bottom: 20px;
}

.assignments-table th, .assignments-table td {
  padding: 10px;
  text-align: left;
}

.assignments-table th {
  border-collapse: collapse;
  border: #cacace;
}

.download-button {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 1px solid #007BFF;
  border-radius: 20px;
  background-color: #f0f8ff;
  text-decoration: none;
  color: #007BFF;
  transition: background-color 0.3s, color 0.3s; 
}

.download-button:hover {
  background-color: #007BFF;
  color: white;
}
