
/* result.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container1 {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;

}
.sub_box {
  /* width: 700px; */
  display: flex;
  justify-content: center;
}

.topic {
  text-align: center;
  margin-bottom: 10px;
}

.topic h1 {
  margin: 0;
  padding: 10px 0;
  color: #000000;
  font-weight: 700;
}

form {
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
}

label {
  margin-bottom: 8px;
}

select,
button {
  margin-bottom: 12px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  /* width: 400px; */
  color: #182431; 
  text-decoration: none; /* Remove underline */
  font-weight: bold;
  padding: 5px 15px;
  border: 1px solid #007BFF; 
  border-radius: 88px; 
  background-color: #f0f8ff; 
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */

}

button:hover {
  background-color: #007BFF;
  color: white;
  cursor: pointer;

}

select:disabled {
  background-color: #f0f0f0;
}

option {
  padding: 8px;
}

/* Responsive adjustments */
@media screen and (min-width: 1200px) {
  .container1{
   width: calc(100% - 300px);  /* to remove the extra space allocated for the side bar */
   margin: 100px auto auto 300px; 
   overflow: hidden;
   max-width: none;
  }
}
@media screen and (max-width: 1199px) {

  .container1{
      width: 100%;
     
      justify-content: center;
    
      ;
      
      
  }


}