* {
    margin: 0;
    padding: 0;
    
    
}
.assignment-schedule-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
   
  }
  
  .schedule-title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    justify-content: center;
  }
  
  .card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card-list .card {
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(37, 39, 59, 0.3);
    width: 300px;
  }
  
  .card .card-header {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;

    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .label {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .card .card_footer {
    
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  .btn1 {
    width: 100px;
    color: #182431; 
    text-decoration: none; /* Remove underline */
    font-weight: bold;
    padding: 5px 15px;
    border: 1px solid #007BFF; 
    border-radius: 88px; 
    background-color: #f0f8ff; 
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
  }
  
  .btn1:hover {
    background-color: #007BFF;
    color: white;
    cursor: pointer;
  }

  @media screen and (min-width: 1200px) {
    .assignment-schedule-container{
     width: calc(100% - 300px);  /* to remove the extra space allocated for the side bar */
     margin: 100px auto auto 300px; 
     overflow: hidden;
     max-width: none;
    }
 }

 @media screen and (max-width: 1199px) {

    .assignment-schedule-container{
        width: 100%;
       
        justify-content: center;
        margin-top: 5rem
        ;
        
        
    }
 }

 