@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');


* {
    box-sizing: border-box;
}

.body {
    font-family: Arial, sans-serif;
    margin-left: 350px;
    margin-top: 100px;
    padding: 0;
}


.topic {
    text-align: center;
    margin-bottom: 20px;
}
 
.border-rectangle {
    display: flex;
    flex-wrap: wrap;
    gap:20px;
}

.schedule-item {
    background-color: #0056b3;
    padding: 20px;
    border-radius: 10px;
    flex: 1 1 calc(50% - 40px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: rgba(255, 255, 255, 0.959);
}

.schedule-title {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.view-link {
    width: 90px;
    color: #182431; 
    text-decoration: none; /* Remove underline */
    font-weight: bold; 
    padding: 5px 10px; 
    border: 1px solid #007BFF; 
    border-radius: 88px; 
    background-color: #f0f8ff; 
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
}

.view-link:hover {
    background-color: #007BFF; 
    color: white; 
    cursor: pointer; 
}

/* Responsive styles */
@media (max-width: 1200px) {
    .body {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media (max-width: 768px) {
    .schedule-item {
        flex: 1 1 calc(100% - 40px);
    }
}

@media (max-width: 576px) {
    .body {
        margin-left: 10px;
        margin-right: 10px;
    }

    .schedule-item {
        padding: 10px;
    }
}
