h4 {
    margin-top: 100px;
    margin-left: 270px;
}

.vh-100 {
    margin-left: 250px;
}

.img-fluid {
    margin-left: 50px;
}

.alert-container {
    width: 50%;
    font-size: 30px;
    background-color: #dff0d8;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    padding: 15px;
}