body {
    font-family: Arial, sans-serif;
    
}
.container1 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    gap: 20px;

}
.topic{
    text-align: center;
    font-weight: bold;
    margin-bottom: 50px;
       
    
}
.schedule-data {
    color: red;
    background: yellow;
}

.side_container{
    margin: 20px;

}
.border-rectangle {
    color: white;
   
    border-radius: 10px;
    overflow-y: auto;
    height: 650px;
}
.border-rectangle::-webkit-scrollbar {
    display: none;
}
.schedule-title {
    font-weight: bold;
}
.sche-container {
    
    position: relative;
    text-align: center;
    width: 100%;
}
.schedule-card {
    color: black;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    transition: box-shadow 0.3s ease-in-out;
}

.schedule-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.schedule-card .card-header {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
.card-header h5 {
    margin: 0;
  }
  
.schedule-card .card-body {
    padding: 10px;
  }
  
.schedule-title {
    font-weight: bold;
  }
  
.notes {
    color: #666;
  }
/* Calender Section  */

.calendar-container, .link-section {
    width: 100%;
}



.calendar {
    align-items: center;
    background: white;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(37, 39, 59, 0.3);

    padding: 5%;
    margin: 10px;
}

.month {
    text-align: center;
    margin-bottom: 5%;
}

.month h1 {
    font-size: 2em;
}

.days-of-week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    font-weight: bold;
    margin-bottom: 5%;
}

.dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

.dates div {
    padding: 10px;
    border-radius: 10px;
    margin: 2%;
    font-size: 1em;
}

.dates div:hover {
    background-color: #e0e0e0;
}

.dates .today {
    background-color: yellow;
    color: black;
    font-weight: bold;
}

.dates .today:hover{
    color: rgb(0, 0, 0);
}

.border-rectangle::-webkit-scrollbar {
    display: none;
}




/* Responsive styles */
@media screen and (min-width: 1200px) {
    .container1{
     width: calc(100% - 300px);  /* to remove the extra space allocated for the side bar */
     margin: 100px auto auto 300px; 
     overflow: hidden;
     max-width: none;
    }
 }
 @media screen and (max-width: 1199px) {

    .container1{
        
        width: 100%;
        justify-content: center;
        margin-top: 5rem
        ;
         
    }
    
 }
 @media screen and (max-width: 736px){
    .container1{
        display: flex;
        flex-direction: column;
    }
    .calendar {
        transform: scale(0.8); /* reduce the size of the calendar */
      }
    
 }

