body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin-top: 100px;
    margin-left: 350px;
}

.calendar-container, .link-section {
    width: 100%;
}

.calendar {
    align-items: center;
    background: white;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 5%;
    margin-bottom: 20px;
    width: 100%;
    margin-right: 50px;
}

.month {
    text-align: center;
    margin-bottom: 5%;
}

.month h1 {
    font-size: 2em;
}

.days-of-week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    font-weight: bold;
    margin-bottom: 5%;
}

.dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

.dates div {
    padding: 10px;
    border-radius: 10px;
    margin: 2%;
    font-size: 1em;
}

.dates div:hover {
    background-color: #e0e0e0;
}

.dates .today {
    background-color: blue;
    color: white;
    font-weight: bold;
}

.dates .today:hover{
    color: rgb(0, 0, 0);
}

/* .border-rectangle {
    color: rgb(0, 0, 0);
    padding: 5%;
    border-radius: 10px;
    overflow-y: auto;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: auto;
    height: auto;
    max-width: auto;
} */

.border-rectangle::-webkit-scrollbar {
    display: none;
}

.uploaded-schedule {
    border: 1px solid white;
    padding: 5%;
    margin-bottom: 5%;
    border-radius: 20px;
    background-color: #e0e0e0;
    width: auto;
    height: auto;
}

.uploaded-schedule {
    font-weight: bold;
}

.link-display {
    padding: 0;
}

.download-btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: blue;
    color: white;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
}

.download-btn a {
    color: white;
    text-decoration: none;
}

.download-btn:hover {
    background-color: hsl(0, 0%, 0%);
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
        justify-content: space-between;
    }

    .calendar-container, .link-section {
        width: 48%;
    }

    .calendar, .border-rectangle {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .calendar-container, .link-section {
        width: 100%;
    }

    .calendar, .border-rectangle {
        width: 100%;
    }

    .month h1 {
        font-size: 1.5em;
    }

    .days-of-week, .dates div {
        font-size: 0.8em;
        padding: 8px;
    }

    .uploaded-schedule, .link-display {
        padding: 5%;
    }
}
