/* result.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  .container1 {
      max-width: 800px;
      padding: 20px;
  }
  
  .sub_box {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .topic {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .topic h1 {
    margin: 0;
    padding: 10px 0;
    color: #000000;
    font-weight: 700;
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
  }
  
  label {
    margin-bottom: 8px;
  }
  
  select,
  button {
    margin-bottom: 12px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    color: #182431; 
    text-decoration: none;
    font-weight: bold;
    padding: 5px 15px;
    border: 1px solid #007BFF;
    border-radius: 88px;
    background-color: #f0f8ff;
    transition: background-color 0.3s, color 0.3s;
  }
  
  #clearButton{
    border: 1px solid red;
    border-radius: 88px;
    background-color: #f0f8ff;
    transition: background-color 0.3s, color 0.3s;
  }
  
  #clearButton:hover{
    background-color: #ff0000;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #007BFF;
    color: white;
    cursor: pointer;
  }
  
  select:disabled {
    background-color: #f0f0f0;
  }
  
  option {
    padding: 8px;
  }
  
  .button-group {
    display: flex;
    justify-content: flex-start;
  }
  
  .button-group button {
    margin-right: 15px;
  }
  
  /* Responsive adjustments */
  @media screen and (min-width: 1200px) {
    .container1{
     width: calc(100% - 300px); 
     margin: 100px auto auto 300px; 
     overflow: hidden;
     max-width: none;
    }
  }
  
  @media screen and (max-width: 1199px) {
    .container1{
        width: 100%;
        justify-content: center;
    }
  }
  